@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

* {
    font-family: 'Mouse Memoirs', sans-serif;
}

.logo {
    width: 10%;
}

.main-log {
    font-weight: 500;
    display: flex;
    font-size: 200%;
    align-items: center;
    justify-content: center;
}

.bar {
    border-bottom-style: solid;
    border-bottom-color: rgb(187, 149, 105);
    border-bottom-width: 0.1%;
    margin-bottom: 3%;
}

#canvas {
    width: 60%;
    height: 50%;
    border-style: groove;
    border-color: black;
    border-radius: 3px;
    grid-template-columns: auto auto;
}


.canvas-element {
    width:60px;
    height: 10px;
}